{% assign posts = include.posts | default: site.posts %}
{% assign limit = include.limit | default: 20 %}
{% assign words = include.words | default: 75 %}
{% assign showViewPostLink = include.showViewPostLink %}
{% assign showArchiveLink = include.showArchiveLink %}
{% assign archiveUrl = include.archiveUrl | default: "/archive" %}

{% for post in posts limit: limit %}
  <div class="postSummary">
    <p class="title">{{ post.title }}<br/><small><a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date: "%B %e, %Y" }}</a></small></p>
    <p class="text">{{ post.content | strip_html | truncatewords: words }}</p>
    {% if showViewPostLink %}
      <p class="text"><a href="{{ site.baseurl }}{{ post.url }}">View Post &raquo;</a></p>
    {% endif %}
  </div>
{% endfor %}

{% if showArchiveLink %}
  {% if site.posts.size > limit %}
<div class="postSummary">
  <p class="title">Post Archive</p>
  <p class="text">There are {{ posts.size }} posts for this site. The first {{ limit }} are shown above. Click <a href="{{ site.baseurl }}{{ archiveUrl }}">here</a> to view the archive.</p>
</div>
  {% else %}
<div class="postSummary">
  <p class="title">Post Archive</p>
  <p>All {{ posts.size }} post(s) for this site are shown above. Click <a href="{{ site.baseurl }}{{ archiveUrl }}">here</a> to view the archive.</p>
</div>
  {% endif %}
{% endif %}